body { background:#fff url(/img/bg.gif) repeat;font-family:Arial, Helvetica, sans-serif;font-size:12px; }
body, button, input, select, textarea { color:#7F7F7F; }
a, a:visited { color:#7f7f7f;text-decoration:none;outline:0; }
a:hover, a:focus { color:#7f7f7f;text-decoration:underline; }
.mceEditor{ display:block;padding:0;background:none;	} /* Outline fix for validation errors */
 
h1, h2, h3, .title {
	font-weight:normal;
	line-height:130%;
}
h1, .title1 { margin:24px 0 12px 0;font-size:36px; }
h2, .title2 { margin:20px 0 12px 0;font-size:28px; }
h3, .title3 { margin:16px 0 12px 0;font-size:22px; }
h4, .title4 { margin:16px 0 12px 0;font-size:18px; }

.title:first-child, .title.alpha,
h1:first-child,	h1.alpha, 
h2:first-child, h2.alpha,
h3:first-child, h3.alpha { margin-top:0; }

.input.text input,.input.password input,.input textarea,.input select, .mceEditor {
	border:transparent solid 1px;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	background:transparent;
}
.input.text input:hover,.input.password input:hover,.input textarea:hover,.input select:hover,
.input.text input:focus,.input.password input:focus,.input textarea:focus,.input select:focus{ 
	border-width:1px; 
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

/****** @Paginator ******/

.paginator {
	text-align:center;
	margin-bottom:15px;
	padding:10px 0;
	font-weight:bold;
	line-height:22px;
	text-transform: uppercase;
 }
.paginator a { text-decoration:none; }

.paginator .current {  }
.paginator .buttons { overflow:auto; }

.paginator .first,
.paginator .prev,
.paginator .next,
.paginator .last {
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	width:87px;
	height:22px;
	font-style: 14px;
	padding:0 16px;
	background:url(/img/paginator.png) no-repeat right 5px;
	letter-spacing: 1px;
}
.paginator .next {   }
.paginator .prev { background-position:left 5px; }

.paginator .next.disabled { background-position:right -12px;  }
.paginator .prev.disabled { background-position:left -12px; }

.paginator .first {  }
.paginator .last {  }

.paginator .first.disabled,
.paginator .next.disabled,
.paginator .prev.disabled,
.paginator .last.disabled,
.paginator .first:hover,
.paginator .next:hover,
.paginator .prev:hover,
.paginator .last:hover { color:#c3c3c3; }

.paginator.floated .next { float:right;  }
.paginator.floated .prev { float:left; }


.paginator .numbers {
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	padding:0 8px;
}
.paginator .numbers span { color:#CCC; }

/****** @Layout ******/

#nofooter{
	width:840px;
	margin:0 auto;
	min-height:100%;
} * html #nofooter{ height:100%; }

#header {
	overflow:hidden;
	padding:40px 0 0 0;
	margin:0 0 72px;
	z-index:1;/*IE7*/
}

.c_inicio #header {
	display:none;
}

#logo {
	position:relative;
	float:left;
	width:200px;
	height:37px;
	margin:0;
	background:url(/img/logo.png);
} #logo a { position:absolute;display:block;width:100%;height:100%;top:0;left:0;text-indent:-99999px; }

.outside {
	position:absolute;
	width:100%;
	height:0px;
	top:0;
	left:0;
	z-index:-1;
}
.headerInfo { float:right;width:250px;height:50px;margin:15px 25px 0 0;background:coral; }

#menu {
	height:36px;
	text-align:right;
	margin:0 0 0 240px;
	padding:0 0;
}
#menu li { margin:0 0 0 0px;overflow:hidden;position:relative; }
#menu li:hover { overflow: visible; }
#menu li, #menu li a { display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline; }
#menu li a {
	height:36px;
	line-height:36px;
	padding:0 16px;
	background:url(/img/menu.png) no-repeat 16px center;
	text-decoration:none;
	text-transform:uppercase;
	font-size:16px;
	text-indent:200%;
	white-space: nowrap;  
	overflow: hidden;
	width:96px;
}
#menu li.mServices a { background-position:-112px center;width:100px; }
#menu li.mProducts a { background-position:-245px center;width:121px; }
#menu li.mContacto a { background-position:-399px center;width:104px; }

#menu .firstletter {
	position:absolute;
	display:block;
	width:11px;
	height:30px;
	top:0;
	left:16px;
}
#menu li.mSelected .firstletter { border-bottom:#999 solid 3px; }
.submenu {
	position:absolute;
	display:block;
	top:100%;
	left:0;
	width:100%;/*IE7*/
}
#menu .submenu li {
	margin:0;
	width:100%; /*IE7*/
}
#menu .submenu li a {
	display:block;
	line-height:18px;
	font-size:16px;
	border-top:#fff solid 1px;
	background-color:#242424;
	color:#fff;
	padding:6px 10px;
	margin:0;
	text-align:center;
	text-decoration:none;

	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
#menu .submenu li a:hover { background-color:#666;color:#fff; }
#menu .submenu li:first-child a { border-top:0; }

#body {
	overflow:hidden;
	padding:0 0 20px 0;
	z-index:0;/*IE7*/
}

#cleaner { clear:both;width:100%;height:90px; } 
.footer {
	position:relative;
	clear:both;
	height:60px;
	padding-top:30px;
	margin:-90px auto 0 auto;
	font-weight: lighter;
	text-align:left;
}
.footer .center { position:relative;margin:0 auto;width:840px;height:60px; }

#copyright {
	position:relative;
	margin:0 200px 0 0;
	padding:0 0 0 116px;
	text-align:left;
	line-height:40px;
	background:transparent url(/img/copyright.png) no-repeat left 15px;
}

#pulsem {
	position:relative;
	float:right;
	width:110px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(/img/pulsem.png) no-repeat center center;
}

.footer .social {
	text-align:left;
	float: right;
	width:144px;
	overflow:hidden;
	padding:0;
	background:transparent url(/img/social.png) no-repeat 0 center;
	line-height:40px;
}

.footer .social a {
	display:block;
	float:right;
	width:40px;
	height:40px;
}
/**** @BLOCKS **************/

.content,.sidebar, .pad { overflow:hidden; }

#body > .contentwide { }
	#body > .contentwide > .pad { padding:0; }

#body > .content { float:right;width:600px;margin-right:0; }
	#body > .content > .pad { padding:0; }

#body > .sidebar { }
	#body > .sidebar > .pad { padding:0 20px 0 0; }

.c_products.a_index #body > .contentwide > .pad { padding:0 60px; }
/* #body > .content > .pad { padding:0 0; } */

/******** @SIDEBAR ************************************************/

.banners { padding:10px 0 2px 0; }
.banners .banner { display:block;margin:0 auto 8px auto; }

#support { }
#support h2 { }
#support iframe { display:block;margin:0 auto 10px auto;border:0;width:180px;height:60px; }

/******** @GENERAL ************************************************/
.noresults { font-size:13px;font-style:italic;padding:12px 0;color:#666; }
.showcase { overflow:hidden; }
.showcase .item { margin:0 0 20px;display:block; }
.imagefoot { background:#e9e9e9;margin:0;padding:3px 6px;font-size:10px;color:#555;line-height:15px; }
.back, .back_menu {
	position:relative;
	display:block;
	width: 300px;
	margin:0 auto;
	background:transparent url(/img/back.png) no-repeat center center;
	height:22px;
}
.back_menu { background-image:url(/img/back_menu.png); }
.highlight{ background:#ff8; }
.leydatos { padding:0 8px 4px 8px;line-height:12px;text-align:center;color:#777;font-size:10px; }

.bulleted { margin:0 0 20px 0; }
.bulleted li { margin:0 3px 0 16px; }
.bulleted li a {
	display:block;
	background:url(/img/bullet.png) no-repeat left 6px;
	padding:0 5px 0 20px;
	margin:1px;
	line-height:28px;
}
.bulleted li.selected > a,
.bulleted li a:hover { }
.bulleted li li {  }

.sidetitle, .lema { text-transform:uppercase;padding:0 0 28px 25px; }
.sidetitle {
	line-height:28px;
	margin:0 0 22px;
	font-weight:bold;
	font-size:24px;
	border-bottom:#ccc solid 1px;
}

.lema { font-size:11px; }

.more { padding:0 10px 0 0;text-align:right; }
.more a {
	line-height:28px;
	background:transparent url(/img/bullet.png) no-repeat left center;
	color:#555;
	font-weight:bold;
	text-decoration:underline;
	padding:3px 0 3px 10px;
}

div.submit { text-align:center; }
input[type=submit], .submitBtn {
	background:transparent;
	width:112px;
	height:36px;
	border:0;
	margin:20px 0 10px 0;
	font-weight:bold;
	
}
div.captcha input { width:30px !important; }
div.captcha label { padding-bottom:3px !important; }
div.captcha label span { padding-left:3px; }
div.captcha > span { padding-left:12px; }
#captchaCode { vertical-align:text-top;font-weight:bold;font-size:90%; }

/*** Detail ***/

.date { font-size:10px;color:#999;margin:5px 0 0 0; }
.desc {  }
.desc p { margin:0 0 10px 0;  }
.comments {
	float:left;
	width:45px;
	background: url(/img/icoComments.gif) no-repeat left center;
	padding:0 0 0 20px;
	height:28px;
	line-height:28px;
 }

.detail {}
.detail .clear { margin-top:16px; }

.detail .title { margin:0; }
.detail .date { font-size:11px; }

/*** @Thumb *************/

.thumb, .thWrap, .thMask { overflow:hidden; }
.thumb {
	position:relative;
	margin:8px 10px 15px;
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
}
.thMask {
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	-moz-box-shadow: 4px 4px 4px #CCC;
	-webkit-box-shadow: 4px 4px 4px #CCC;
	box-shadow: 4px 4px 4px #CCC;
}
.thumb .thWrap { }
.thumb .thWrap, .thWrap.float {
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	float:left;
	margin:0 20px 4px 0;
}

.thumb .date { margin-top:3px; }
.thumb .desc { margin:8px 0 0 0; }

.thumb.v {
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	width:220px;
	height:220px;
	text-decoration:none;
}
.thumb.v .thWrap {
	display:block;
	float:none;
	border:0;
	margin:0;
	width:auto;
	height:auto;
}

.thumb .thPlayer { padding:25px 12px; }
.thumb.v .title {  }
.thumb.v .date { }
.thumb.v .desc { font-size:11px; }

.thPlayer { padding:25px; }

/* Comments */

#crumbs{ font-size:13px;border-bottom:#ccc solid 1px;padding:0 0 5px 0; }
#crumbs a{ padding:3px 8px 3px 12px;background:url(/img/crumb.png) no-repeat left center; }
#crumbs a:first-child{ padding:3px 8px;background:none; }

/******** @INICIO ************************************************/

.canvas {
	position:relative;
	width:510px;
	margin:0 auto;
	overflow:hidden;
}
.canvas .mask {
	position:relative;
	width:100%;
	height:255px;
	overflow:hidden;
}

#mask2 { height:320px; }

.canvas .bar {
	position: absolute;
	float: left;
	height:100%;
	width:30px;
	top:0;
	left:0;
	margin:0;
	padding:0;
	outline: 0;
}

.bar9_hover { border-color:#3D3D3F;background-color:#3D3D3F; }
.bar8_hover { border-color:#58585A;background-color:#58585A; }
.bar7_hover { border-color:#6F7072;background-color:#6F7072; }
.bar6_hover { border-color:#868789;background-color:#868789; }
.bar5_hover { border-color:#9B9C9E;background-color:#9B9C9E; }
.bar4_hover { border-color:#B0B2B3;background-color:#B0B2B3; }
.bar3_hover { border-color:#C5C6C8;background-color:#C5C6C8; }
.bar2_hover { border-color:#D8D9DA;background-color:#D8D9DA; }
.bar_hover { border-color:#ECECED;background-color:#ECECED; }

.bar_base { border-color:#7f7f7f;background-color:#7f7f7f;  }

.bar span { position:relative;display:block; }

.bar .center { height:30px;background-color: #7f7f7f; }
.bar2 .center, .bar8 .center { height:90px; }
.bar3 .center, .bar7 .center { height:210px; }
.bar4 .center, .bar9 .center { height:150px; }
.bar5 .center { height:270px; }
.bar6 .center { height:330px; }

.bar .top,.bar .bottom {
	width:0;
	height:0;
	border:#7f7f7f solid 15px;
	background-color: transparent !important;
}

.bar.left .top { border-left-color:transparent !important;border-top-color:transparent !important; }
.bar.left .bottom { border-right-color:transparent !important;border-bottom-color:transparent !important; }

.bar.right .top { border-right-color:transparent !important;border-top-color:transparent !important; }
.bar.right .bottom { border-left-color:transparent !important;border-bottom-color:transparent !important; }

.bar .caption {
	height:120px;
	width:12px;
	margin:0 auto;
	background:transparent url(/img/menu_v.png) no-repeat 0 -120px;
}
.bar .caption_about { background-position:0 6px; }
.bar .caption_services { background-position:-12px 6px; }
.bar .caption_products { background-position:-24px 6px; }
.bar .caption_contacto { background-position:-36px 6px; }

/******** @ABOUT ************************************************/

.column {
	float:left;
	width:280px;
	margin:0 20px 0 0;
}
.c_about .column.omega { padding-bottom:45px;background:url(/img/richter.png) no-repeat left bottom; }
.bordered_text {
	border-left:#ccc solid 1px;
	padding-left: 14px;
}

/******** @ALBUMS ************************************************/

.inlineGallery { margin:20px 0; }
.inlineGallery a {
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	padding:0 6px;
	margin:0 3px 15px 3px;
}
.inlineGallery a img {
	box-shadow: 4px 4px 4px #999;
	-moz-box-shadow: 4px 4px 4px #999;
	-webkit-box-shadow: 4px 4px 4px #999;
}

/******** @PRODUCTS ************************************************/

.thumb .meta {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background:transparent url(/img/hover.png);
}
.thumb .meta .title,
.thumb .meta .tag_names { padding:0 18px;display:block; }

.thumb .meta .title {
	padding-top:50px;
	margin-bottom:4px;
	font-size:22px;
	font-weight:bold;
	line-height:26px;
}
.thumb .meta .tag_names {
}

.thumb:hover .meta { display:block; }

.column.alpha {
	width:220px;
}

#carousel{ width:820px;margin:26px auto 50px auto;  }

.share { padding:10px 0;overflow:hidden; }
.share > div {
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	margin:0 0 0 8px;
	width:70px;
	overflow:hidden;
}
.share > div:first-child {
	margin:0;
}

/******** @SERVICIOS ************************************************/


/***** @CONTACTO *******************************************/

.c_contacto .sectionHdr{ background-image:url(/img/hdrContacto.jpg); }

.c_contacto .note { font-weight:bold; }
.c_contacto .form {  }

.c_contacto .form label{ padding:8px 5px 4px 5px;font-weight:bold; }
.c_contacto .form p:first {  }
.c_contacto .form .subform { padding:0; }
.c_contacto .form .input.text input, .input textarea { width:95%; }

.c_contacto .info { width:220px;padding:0 0 0 60px; }
.c_contacto .info p { margin:0 0 16px 0; }
.c_contacto .info .title { font-weight:normal;font-size:14px;margin:0 0 3px 0; }